<form method="POST" action="{% url 'properties:message' property.public_id %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="{{ form.name.id_for_label }}" class="form-label">Nombre</label>
        {{ form.name }}
        {{ form.name.errors }}
    </div>
    <div class="mb-3">
        <label for="{{ form.email.id_for_label }}" class="form-label">Correo electrónico</label>
        {{ form.email }}
        {{ form.email.errors }}
    </div>
    <div class="mb-3">
        <label for="{{ form.phone.id_for_label }}" class="form-label">Teléfono</label>
        {{ form.phone }}
        {{ form.phone.errors }}
    </div>
    <div class="mb-3">
        <label for="{{ form.message.id_for_label }}" class="form-label">Mensaje</label>
        {{ form.message }}
        {{ form.message.errors }}
    </div>
    {{ form.property_id }}
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>