{% extends "base.html" %}
{% load static %}


{% block title %}Propiedades{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/properties/index.css' %}">
{% endblock styles %}

{% block content %}
    <div class="row">
        {% for property in properties %}
        <div class="col-lg-4 mb-3">
            <div class="card property-card">
                <img src="{% if property.title_image_thumb %}
                {{property.title_image_thumb}}
                {% else %}
                {% static 'images/properties/no-image.png' %}
                {% endif %}" class="card-img-top" alt="Image thumbnail">
                <div class="card-body">
                    <h5 class="card-title">{{ property.title|truncatechars:60 }}</h5>
                    <p class="card-text">{{ property.location|truncatechars:50 }}</p>
                    <p class="card-text">{{ property.property_type }}</p>
                    <p class="card-text"><small class="text-muted">ID: {{ property.public_id }}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include 'partials/pagination.html' %}
{% endblock content %}